trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  appName: new-otel
  azureServiceConnection: leah2-connection

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - checkout: self

    - script: |
        php -v
        composer --version
      displayName: "Verify PHP & Composer"

    - script: |
        if [ -f composer.json ]; then
          composer validate --no-check-publish
          composer install --prefer-dist --no-progress --ignore-platform-req=ext-opentelemetry
        else
          echo "No composer.json found, skipping composer install"
        fi
      displayName: "Composer Install"

    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(System.DefaultWorkingDirectory)'
        artifactName: php-app

- stage: Deploy
  dependsOn: Build
  jobs:
  - job: Deploy
    steps:
    - task: DownloadBuildArtifacts@1
      inputs:
        artifactName: php-app
        downloadPath: $(System.DefaultWorkingDirectory)

    - task: AzureWebApp@1
      inputs:
        azureSubscription: $(azureServiceConnection)
        appName: $(appName)
        package: $(System.DefaultWorkingDirectory)
